@import "tailwindcss";

::selection{
  background-color: var(--color-900);
  color: var(--color-50);
}

:root{
  /* Color normal */
  --color-50: #f7f7f7;
  --color-100: #f0f0f0;
  --color-200: #e3e3e3;
  --color-300: #d1d1d1;
  --color-400: #bdbdbd;
  --color-500: #aaaaaa;
  --color-600: #969696;
  --color-700: #818181;
  --color-800: #6a6a6a;
  --color-900: #585858;
  --color-950: #333333;
  /* Color transparent */
  --color-50-t: rgba(247, 247, 247, 0.5);
  --color-100-t: rgba(240, 240, 240, 0.5);
  --color-200-t: rgba(227, 227, 227, 0.5);
  --color-300-t: rgba(209, 209, 209, 0.5);
  --color-400-t: rgba(189, 189, 189, 0.5);
  --color-500-t: rgba(170, 170, 170, 0.5);
  --color-600-t: rgba(150, 150, 150, 0.5);
  --color-700-t: rgba(129, 129, 129, 0.5);
  --color-800-t: rgba(106, 106, 106, 0.5);
  --color-900-t: rgba(88, 88, 88, 0.5);
  --color-950-t: rgba(51, 51, 51, 0.5);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;   
}
body, #roots{
    height: 100vh;
    background-color: #0E0E11;
}
/* -------Background------- */
.bg-custom-50{
  background-color: var(--color-50);
}
.bg-custom-100{
  background-color: var(--color-100);
}
.bg-custom-200{
  background-color: var(--color-200);
}
.bg-custom-300{
  background-color: var(--color-300);
}
.bg-custom-400{
  background-color: var(--color-400);
}
.bg-custom-500{
  background-color: var(--color-500);
}
.bg-custom-600{
  background-color: var(--color-600);
}
.bg-custom-700{
  background-color: var(--color-700);
}
.bg-custom-800{
  background-color: var(--color-800);
}
.bg-custom-900{
  background-color: var(--color-900);
}
.bg-custom-950{
  background-color: var(--color-950);
}

/* -------Color text------- */
.text-custom-50{
  color: var(--color-50);
}
.text-custom-100{
  color: var(--color-100);
}
.text-custom-200{
  color: var(--color-200);
}
.text-custom-300{
  color: var(--color-300);
}
.text-custom-400{
  color: var(--color-400);
}
.text-custom-500{
  color: var(--color-500);
}
.text-custom-600{
  color: var(--color-600);
}
.text-custom-700{
  color: var(--color-700);
}
.text-custom-800{
  color: var(--color-800);
}
.text-custom-900{
  color: var(--color-900);
}
.text-custom-950{
  color: var(--color-950);
}

/* Clip-path */
.clip-path-custom{
  border-left:solid 40px transparent;
  border-bottom: solid 35px var(--color-50);
  border-right: solid 40px transparent;
  transform: translateX(-50%);
}
#gitHub_icon, #linkEdin_icon, #WhatsApp_icon{
  font-size: 30px;
}
#gitHub_icon:hover, #linkEdin_icon:hover, #WhatsApp_icon:hover{
  color: var(--color-400);
  transition: .2s;
}
#gitHub_icon:active, #linkEdin_icon:active, #WhatsApp_icon:active{
  color: var(--color-600);
}
#header{
  background: radial-gradient(circle, var(--color-500-t), var(--color-600-t), var(--color-700-t));
  text-shadow: 0px 0px 2px var(--color-700);
  -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  padding: 20px 0;
}
#header > a:hover{
  color: var(--color-200);
  transition: .2s;
}
#header > a:active{
  color: var(--color-300);
}
#menuHamburguer {
  display: none;
  cursor: pointer;
  font-size: 24px;
  transition: .2s;
}
/* About ME */
#AboutMe{
  padding: 50px 5% 0 5% ;
}
#techSect, #Skills, #Experience{
  padding: 100px 5% 0 5% ;
}
#Part1AboutMe{
  border-left: solid 7px var(--color-400);
  border-radius: 7px;
  padding: 10px;
}
/* Tech */
#Tech3{
  border-top: 5px solid var(--color-400);
  border-radius: 5px 5px 0 0;
  padding: 7.5px 0 7.5px 0;
}
#imgTech{
  transition: .3s;
}
#imgTech:hover{
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 5px #0E0E11);
}
/* Social Skills */
#Skill{
  border-left: 5px solid var(--color-400);
  border-right: 5px solid var(--color-400);
  border-radius: 5px;
}
/* Experience */
#XP{
  border-left: 5px solid var(--color-400);
  border-radius: 5px;
  padding: 10px;
}
#cert{
  border-top: 5px solid var(--color-400);
  border-radius: 5px;
  padding: 10px;
}
#cert:hover{
  border-top: 5px solid var(--color-900);
  background-color: var(--color-600);
  color: var(--color-950);
  transition: .3s;
}
#certi{
  padding: 100px 5% 50px 5%;
}
@media screen and (max-width: 530px) {
  #header{
    display: none;
  }
  #menuHamburguer{
    display: block;
  }
}
